body {
  margin: 0;
  overflow: hidden;
}

.wall {
  float: left;
}

 .tweet {
  display: none;
}

.avatar {
  float: left;
  transition: all 0.1s;
}

.avatar:hover {
  -webkit-transform: scale(1.1);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}
